/* #app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */

body {
  background: white;
  color: rgb(74, 216, 74);
  font-family: "Courier New", Courier, monospace;
}
.panel {
  width: 600;
  height: 200;
  padding: 20px;
  border: solid lightgreen 1px;
}
#left {
  width: 700px;
}
#right {
  float: right;
}
#container {
  width: 1400px;
}
